{% extends 'base.html' %}

{% block title %}
{{ category }}
{% endblock %}

{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'create_product' %}">Добавить</a></li>
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Категории
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'by_category' 'food' %}">Еда</a></li>
            <li><a class="dropdown-item" href="{% url 'by_category' 'toys' %}">Игрушки</a></li>
            <li><a class="dropdown-item" href="{% url 'by_category' 'stationary' %}">Канцелярия</a></li>
            <li><a class="dropdown-item" href="{% url 'by_category' 'books' %}">Книги</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'by_category' 'other' %}">Другое</a></li>
          </ul>
    </li>
{% endblock %}

{% block content %}
    <div><br><br><br><h2>Все товары категории "{{ category }}"</h2><br><br><br></div>
    {% for product in products %}
        <br><h5><a href="{% url 'view_product' product.id %}">{{ product.name }}</a></h5><br>
        <p>Цена: {{ product.price }}</p>
        <a href="{% url 'delete_product' product.id %}" >Удалить</a> <a href="{% url 'update_product' product.id %}" >Исправить</a>
        <hr>
    {% endfor %}

{% endblock %}